@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap');
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Montserrat Alternates', sans-serif;
	}
	:root{
	/* Colores */
	--cN1:#F97304;
	--cN2:#D44206;
	--cA1:#023D67;
	--cA2:#03749C;
	--cA3:#15B1D7;
	--cB1:#f1f1f1;
	--cO1:#232830;
	}
	body{
		background: #FFF;
	}
	h1{
		font-family: 'Montserrat', sans-serif;
		font-weight: 800;
	}
	h2{
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;	
	}
	h3{
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
	}
	h5{
		font-family: 'Montserrat', sans-serif;
		font-weight:800;
	}
	header{ 
		background: var(--cA1);
		width: 100%;
	 }
	 p{
		font-family: 'Montserrat', sans-serif;
		font-weight:400;
		font-size: 1.2rem;
	 }
	 form, input, textarea{
		font-family: 'Montserrat', sans-serif;
		font-weight:400;
	 }
	 footer{
		 background: var(--cA1);
		 height: 80px;
	 }
	 a{
		 color: #FFF;
	 }
	 a:hover{
		 color: var(--cN1);
	 }

	.logotipo{
		height: 30px;
	}
	.nav-link{
	color: var(--cB1);
	}
	.negritas{
		font-weight: 800;
		font-family: 'Montserrat';
		color: var(--cA2);
	}
	.fondo-1{
		background-color: var(--cB1);
	}
	.fondo-colobora{
		background-color: #bcecff;
	}
	.bg-box{
		background-color: var(--cA3);
	}
	.img-inicio{
		width: 70%;
	}
	.active{
		color: #15B1D7;
	}
	.btn-ind{
		background: var(--cN1);	
		transition: 0.5s;
	}
	.btn-ind:hover{
		background: var(--cA2);	
		color: #FFF;
		transition: 0.5s;
	}
	.info-text{
		background: var(--cB2);
	}
	.text-muted{
		font-family: 'Montserrat';
	}

	.card-info{
		background: var(--cA1);
		color: var(--cB1);
	}
	.comentarios{
		padding: 3rem;
		background: var(--cB2);
	}
	.btn-tool {
		background-color: var(--cN1);
		color: #FFF;
	}
	.btn-tool:hover{
		background-color: var(--cA2);
		color: #FFF;
		transition: 0.5s;
	}
